<div class="col-xs-9">
    <%= render 'layouts/tags' %>
</div>
<% unless @bookmarks.nil? %>
<% @bookmarks.reverse.each do |bookmark| %>
<div class="col-md-8">
    <div class="bookmark">
    <p><%= link_to bookmark.url, bookmark.url %>
            <%= link_to bookmark.user.name, bookmark.user %>
        <p><%= bookmark.description %></p>
        <% if current_user == bookmark.user %>
        <%= link_to 'Delete', bookmarks_url(id: bookmark.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to "Edit", bookmarks_edit_path(id: bookmark.id) %>
        <% end %>
        <%= link_to "View", bookmarks_view_path(id: bookmark.id) %>
        <p>Tags:</p>
        <% bookmark.tags.each do |tag| %>
          <%= link_to tag.name, tags_show_url(id: tag.id) %>
        <% end %>
        <% if current_user %>
            <% reaction = current_user.reactions.find_by(user_id: current_user.id) %>
            <%= reaction.liked %>
            <% if reaction %>
                <% if reaction.liked == nil %>
                    <%= link_to "Like", bookmarks_react_path(id: bookmark.id, liked: true), method: :post %>
                <% end %>
                <% if reaction.liked %>
                    <%= link_to "Unlike", bookmarks_react_path(id: bookmark.id, liked: true), method: :post %>
                <% end %>
                <% if reaction.liked == nil || reaction.liked %>
                    <%= link_to "Dislike", bookmarks_react_path(id: bookmark.id, liked: false), method: :post %>
                <% end %>
            <% else %>
                <%= link_to "Like", bookmarks_react_path(id: bookmark.id, liked: true), method: :post %>
                <%= link_to "Dislike", bookmarks_react_path(id: bookmark.id, liked: false), method: :post %>
            <% end %>
        <% end %>
    </div>
    </p>
</div>
    <% end %>
<% end %>
