<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Bookmarks", root_path %></li>
        <li><%= link_to "Tags", tags_index_url %></li>
        <li><%= link_to "New", bookmarks_new_path, class: 'btn btn-success' %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
      <%= current_user.email %>
      <%= link_to "Log out", logout_path, method: "delete" %>
      <% else %>
      <li><%= link_to "Login", 'login' %></li>
      <li><%= link_to "Signup", 'signup' %></li>
      <% end %>
      </ul
      <% if flash[:notice] %>
      <br>
      <div class="notice"><%= flash[:notice] %></div>
      <% end %>
  </div>
</header>
