<h1><%= link_to "Bookmarks", root_path %></h1>
<h2><%= link_to "Tags", tags_index_url %></h2>
<div class="right-button">
  <%= link_to "New", bookmarks_new_path %>
</div>
<% if current_user %>
  <ul>
    <li><%= current_user.email %></li>
    <li><%= link_to "Log out", logout_path, method: "delete" %></li>
  </ul>
<% else %>
  <ul>
    <li><%= link_to "Login", 'login' %></a></li>
    <li><%= link_to "Signup", 'signup' %></a></li>
  </ul>
<% end %>

<% if flash[:notice] %>
    <br>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
